name: flutter_idiomatic
description: It is starter kit with idiomatic code structure :)

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.4

  font_awesome_flutter: ^9.2.0
  google_fonts: ^2.1.1

  json_annotation: ^4.4.0
  # enum_to_string: 1.0.8
  copy_with_extension: ^3.0.0
  equatable: ^2.0.3
  graphql: ^5.0.0
  firebase_auth: ^3.3.4
  firebase_core: ^1.10.6
  google_sign_in: ^5.2.1
  formz: ^0.4.1
  bot_toast: ^4.0.1
  bloc: ^8.0.1
  flutter_bloc: ^8.0.0
  hydrated_bloc: ^8.0.0
  replay_bloc: ^0.2.1

# dependency_overrides:
#   js: ^0.6.4
#   _fe_analyzer_shared: ^32.0.0
#   analyzer: ^3.0.0
#   coverage: ^1.0.4
#   path: ^1.8.1
#   platform: ^3.1.0
#   rxdart: ^0.27.3
#   test: ^1.20.1
#   test_api: ^0.4.9
#   test_core: ^0.4.11
#   vm_service: ^8.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter

  bloc_test: ^9.0.1
  mockito: ^5.0.17

  glob: ^2.0.2
  gherkin: ^2.0.8
  flutter_gherkin: ^2.0.0

  lint: ^1.8.1
  # pedantic: ^1.9.0

  build_runner: ^2.1.7
  json_serializable: ^6.1.3
  copy_with_extension_gen: ^3.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
